In [28]:
import numpy as np
import pandas as panda

#Making Table data with panda dataframe
# Table 1.1  -  Banyaknya orang menurut agama dan partai yang disenangi. note: this example from book, not real data
table = panda.DataFrame(np.array([[6,13,14],[22,0,1],[7,8,9]]), \
columns=["islam","kristen","lainnya"],index=["GOLKAR","PPP","PDI"])


#show table
table

        islam  kristen  lainnya
GOLKAR      6       13       14
PPP        22        0        1
PDI         7        8        9

In [3]:
# Goodman Kruskal
# Array Max Coloums
c_max = table.max()
print("Max in columns  : ")
print(c_max)

Max in columns  :
islam      22
kristen    13
lainnya    14
dtype: int64

In [4]:
# max value in sum columns
max_scol = max(table.sum())
print("Max value in total coloms :", max_scol)

Max value in total coloms : 35

In [5]:
# max value in sum rows
max_srow = max(table.sum(axis=1))
print("Max value in total rows :", max_srow)

Max value in total rows : 33

In [6]:
# Array max value in rows
r_max = table.max(axis=1)
print("Maz in Rows  : ")
print(r_max)

Maz in Rows  :
GOLKAR    14
PPP       22
PDI        9
dtype: int64

In [7]:
# total all data in table
totals = sum(table.sum())
print("totals Value in table : ", totals)

totals Value in table :  80

In [34]:
# result for Goodman Cruscal
# function method
def goodman_kruskal(max_in_rows, max_in_columns, max_totals_rows, max_totals_columns, total):
    up = (sum(max_in_rows) + sum(max_in_columns)) - max_totals_rows - max_totals_columns
    down = (2 * total) - max_totals_rows - max_totals_columns
    return up / down

result = goodman_kruskal(r_max,c_max, max_scol, max_srow, totals)
print("Koefisien assosiation with Goodman Kruskal : ",result)

Koefisien assosiation with Goodman Kruskal :  0.2826086956521739

In [33]:

# build a class for same method
# class method
class Goodman_Kruskal:
    def __init__(self, table):
        self.table = table

    def nominal(self):
        up = (sum(self.table.max()) + sum(self.table.max(axis=1))) - \
        max(self.table.sum()) - max(self.table.sum(axis=1))
        down = (2 * sum(self.table.sum())) - max(self.table.sum()) - \
        max(self.table.sum(axis=1))
        return up / down

gk = Goodman_Kruskal(table)
result = gk.nominal()
print("Koefisien assosiation with Goodman Kruskal : ",result)
pritn("")

Koefisien assosiation with Goodman Kruskal :  0.2826086956521739